{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container row col-6 offset-md-4 align-items-center">
        {% if not user.is_authenticated %}

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Login</button>
            </form>
        {% else %}
            <br>You are already logged in.<br>
        {% endif %}
    </div>

{% endblock %}
{% block content2 %}

{% endblock %}