{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if not user.is_authenticated %}
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Sign up</button>
        </form>
    {% endif %}
{% endblock %}