<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "snippets/css.html" %}

    <title>Hello, world!</title>
</head>
<body>

<div class="container">
    {% include "snippets/nav.html" %}

    {% block content %}
        This is from base.html content block
    {% endblock %}

    {% block content2 %}
        This is from base.html content2 block. It need to be replaced.
    {% endblock %}

</div>


{% include "snippets/js.html" %}
</body>
</html>