{% extends "base.html" %}


{% block content %}

<h2>Welome to the resturants page</h2>
Resturant name is {{ resturant_name }}<br>

{% if items %}
    The items are <br>
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
{% endif %}

{% endblock %}