{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Add Resturant</h1>
    <form method='POST'>

        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Save</button>



    </form>
{% endblock %}