{% extends "base.html" %}
{% block content %}
    <h2>Resturant's</h2>
    {% for resturant in object_list %}
{#        <li><a href="/resturants/{{ resturant.slug }}">{{ resturant.name }}</a></li>#}
        <li><a href="{% url 'resturants:detail' slug=resturant.slug %}">{{ resturant.name }}</a></li>
    {% endfor %}
{% endblock %}