{% extends "base.html" %}

{% block content %}
    <h1>{{ resturantlocation.name }}<small> {{ resturantlocation.category }}</small></h1>
    <p>{{ resturantlocation.location }}</p>
    <p><i>Added to database on:</i> {{ resturantlocation.timestamp|date }} || <i>Updated:</i> {{ resturantlocation.updated|timesince }} ago</p>
{% endblock %}